.cardback {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 1.5s;
    background-size: cover;
    cursor: pointer;
    position: relative;
    z-index: 20;
    backface-visibility: hidden;
}

.text{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.cardback:hover {
    transform: scale(1.05);
}

a.backlink {
    color: white;
    text-decoration: none;
    transform: cubic-bezier(.17,.67,.83,.67);
    transition-duration: 1.5s;
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    top: 35%;
    left: 30%;
    position: absolute;
}

.backlink {
    color: white;
    text-decoration: none;
    transform: cubic-bezier(.17,.67,.83,.67);
    transition-duration: 1.5s;
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    top: 35%;
    left: 30%;
    position: absolute;
}

a.backlink:hover{
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
}