.cardback {
    height: 450px;
    margin: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #3c7fa5, white);
    border-radius: 5px;
    padding: 45px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    background-size: cover;
}

.text{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.cardback:hover {
    transform: scale(1.05);
}

.cardLink {
    color: black;
    text-decoration: none;
    transform: cubic-bezier(.17,.67,.83,.67);
    transition-duration: 1.5s;
    font-size: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}

.cardLink:hover{
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
}