.pic{
    padding-top: 80px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: larger;
}

.nasa-img{
    max-width: 35%;
    max-height: 10%;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 5%;
}

.pic-text{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}