.card-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 100%;
  };


  .flippy-cardContainer-wrapper{
    width: 100%;  
  }