.left {
    flex-wrap: wrap;
    position: static;
    width: 100%;
    flex-direction: row;
    max-width: 20%;
    margin-top: -15%;
    justify-content: flex-end;
};

.right {
    flex-wrap: wrap;
    position: static;
    width: 100%;
    flex-direction: row;
    max-width: 20%;
    margin-top: -15%;
    justify-content: flex-end;
};