@keyframes fadeIn { from { opacity:0; } to { opacity:1} }
@media screen and (max-width: 400px) {
  .title{
    margin-top: -70px;
    position: absolute;
    font-size: 10px;
    animation: fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:1s;
    font-family: 'Pacifico', cursive;
    font-size: 52px;
    transform: translate(-48%, -60%);
    z-index: 20;
    opacity: 0;
  }
  .fade{
    width: 375px;
    overflow-x: hidden;
  }
}

@media screen and (min-width: 400px) {
  .title {
    animation: fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:1s;
    font-family: 'Pacifico', cursive;
    font-size: 72px;
    animation-fill-mode:forwards;
    animation-duration:.1s;
    position: absolute;
    left: 45%;
    transform: translate(-60%, -50%);
    z-index: 20;
    opacity: 0;
  }
}


.fade {
    padding-top: -10px;
    opacity:0;
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:1s;
    text-align: center;
    animation-iteration-count: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
