@keyframes fadeIn { from { opacity:0; } to { opacity:1} }

.fade {
    padding-bottom: 300px;
    padding-top: 120px;
    opacity:0;
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:1s;
    text-align: center;
    animation-iteration-count: 1;
  }

  .title {
    color: #3c7fa5;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Pacifico', cursive;
    font-size: 72px;
  }