.cardfront {
    height: 450px;
    margin: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #3c7fa5, white);
    border-radius: 5px;
    padding: 45px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    background-size: cover;
    max-width: 270px;
}

.images{
    border-radius: 50%;
}

.cardfront:hover {
    transform: scale(1.05);
}
