.row{
    padding-top: 10px;
    margin-top: -10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    width: 100%;
    z-index: 10;
    font-family: 'Open Sans Condensed', sans-serif;
    transition: .3s;
}

.row1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -15px;
    margin-left: -70px;
    position: fixed;
    width: 0%;
    height: 0%;
    z-index: 0;
    font-weight: lighter;
    opacity: 0;
    transition: .3s;
    font-family: 'Open Sans Condensed', sans-serif;
}
  

.hov{
    transform: cubic-bezier(.17,.67,.83,.67);
    transition: transform 3s ease-out;
}

.hov:hover{
    transform: scale(1.3);
}

.linkClass.active{
    font-size: 10px;
    transition-duration: .3s
}

.linkClass{
    text-decoration: none;
    color: white;
    font-size: 40px;
    transition-duration: .3s
}