@media screen and (max-width: 400px) {
    .circle_list{
        margin-top: -140%
    }

    .rightCircle{
        padding-right: 15% 
    }
    .leftCircle{
        margin-left: -9% 
    }
}

@media screen and (min-width: 425px) {
    .circle_list{
        margin-top: -600px;
    }
    
    .rightCircle{
        padding-right: 6%;
    }
    
    .leftCircle{
        padding-left: 0%;
    }
}

.captions{
    background-color: transparent;
    color: black;
    z-index: 30;
    position: absolute;
    left: 48%;
    top: 70%;
    transform: translate(-48%, -60%);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    opacity: 1
}
