.flippy-card.flippy-front{
    border-radius: 50%;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 1.5s ease-out;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    padding: none;
    height: 0px;
    width: 0px;
    margin-left: 25%;
    margin-top: 25%;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.flippy-card.flippy-back{
    margin-top: 60%;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
    box-shadow: none;
    backface-visibility: hidden;
}

.flippy-cardContainer-wrapper.horizontal{
    height: 0%;
    width: 0%;
}

.flippy-card.flippy-front:hover {
    transform: scale(1.05);
}