.boxes {
    height: 100%;
    font-size: 15px;
    border: solid rgb(14, 56, 90);
    font-family: 'Pacifico', cursive;
    overflow: hidden;
}

.caption{
    width: 75%;
}

.pix{
    float: right;
    max-width: 20%;
    max-height: 20%;
    padding: 5%;
    padding-top: -90px;
    
}