@media screen and (max-width: 400px) {
    .pix{
        max-width: 90%;
        min-width: 90%;
        padding-left: -5%;
    }
}


.boxes {
    font-size: 25px;
    height: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    overflow: hidden;
    text-align: center;

}

.caption{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.pix{
    max-width: 40%;
    max-height: 40%;
    padding: 5%;
    position: relative;
    justify-content: space-evenly;
    border-radius: 20%;
}